<% layout('layouts/boilerplate')%>
    <h1 class="text-white py-3 text-2xl text-center">List of All Items</h1>

    <div class="flex justify-center">
        <table class="table table-fixed text-center text-white w-4/6">
            <thead class="uppercase">
                <tr>
                    <th>Date Bought</th>
                    <th>Name</th>
                    <th>Category</th>
                    <th>Cost</th>
                    <th>Sold?</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <% for (let [i, item] of items.entries()) { %>
                    <tr class="hover:bg-gray-100 hover:text-black border-b <% if (i % 2 === 0) {%>bg-slate-700<%}%>">
                        <td class="py-3">
                            <%= item.dateBought.toISOString().slice(0, 10) %>
                        </td>
                        <td class="py-3">
                            <%= item.title %>
                        </td>
                        <td class="py-3">
                            <%= item.category %>
                        </td>
                        <td class="py-3">$<%= item.cost %>
                        </td>
                        <td class="py-3">
                            <% if (item.ifSold) { %>&#x2713<% } %>
                        </td>
                        <td class="py-3 text-white">
                            <a href="/items/<%= item.id %>" class="px-1 py-0.5 rounded bg-gray-600">Details</a>
                            <a href="/items/<%= item.id %>/edit" class="px-1 py-0.5 rounded bg-gray-600">Edit</a>
                            <form action="/items/<%= item.id %>?_method=DELETE" method="post">
                                <button class="rounded bg-red-600 px-1"
                                    onclick="return confirm('Are you sure you want to delete this item?');">Delete</button>
                            </form>
                        </td>
                    </tr>
                    <% } %>
            </tbody>
        </table>
    </div>