<% layout('layouts/boilerplate')%>
    <h1 class="text-2xl text-center text-white">
        <%= item.title %> Details
    </h1>

    <div class="flex justify-center">
        <div class="grid gap-6 mb-6 grid-cols-3 border-2 p-2 m-2 rounded-md bg-white shadow">
            <div class="">
                <span class="font-bold">Category</span>
                <div class="">
                    <%= item.category %>
                </div>
            </div>
            <div class="">
                <span class="font-bold">Cost of Item</span>
                <div class="">
                    $<%= item.cost %>
                </div>
            </div>
            <div class="">
                <span class="font-bold">Date Bought</span>
                <div class="">
                    <%= item.dateBought.toISOString().slice(0,10) %>
                </div>
            </div>
            <% if (item.ifSold) { %>
                <div class="">
                    <span class="font-bold">Date Sold</span>
                    <div class="">
                        <%= item.dateSold.toISOString().slice(0,10) %>
                    </div>
                </div>
                <div class="">
                    <span class="font-bold">Return</span>
                    <div class="">
                        $<%= item.return %>
                    </div>
                </div>
                <div class="">
                    <span class="font-bold">Fees</span>
                    <div class="">
                        $<%= item.fees %>
                    </div>
                </div>

                <div></div>
                <div class="font-bold">Profit: <span
                        class="<% if (item.profit>0) {%>text-green-500<% } else {%>text-red-500<% } %>  ">$<%=
                            item.return - item.cost - item.fees %></span></div>
                <div></div>

                <% } %>


                    <a href="/items" class=" text-center bg-gray-500 text-white rounded px-2 py-3">Back to All Items</a>
                    <a href="/items/<%= item.id %>/edit"
                        class="text-center bg-gray-500 text-white rounded px-2 py-3">Edit</a>
                    <div></div>

        </div>
    </div>